*.zip
/CORD-19-research-challenge/*
/data_processed/glove.6B.100d.txt
/data_processed/raw_all_czipmc.txt
/glove/*
/flair_models/*
/pdfs/*
/science_parsed_dataset/*
/tagtog_annotations/annotations_extra/*
/tagtog_annotations/annotations_only_for_test/*
/tagtog_annotations/annotations_original/*
/.idea/*
/.DS_Store
/.ipynb_checkpoints/*