*.zip
/CORD-19-research-challenge/*
/data_processed/glove.6B.100d.txt
/data_processed/raw_all_czipmc.txt
/glove/*
/flair_models/*
/pdfs/*
/tagtog/*
/xml/*
/plots/*
/parsed_ta1/*
/parsed_rpp/*
/parsed_ta3_covid/*
/scienceparse/*
/test_annotation/*
/new_annotation/*
/.idea/*
/.DS_Store
/.ipynb_checkpoints/*
